.categ{background-color:#D8D8D8;margin:3;float:left}
.div_even{background-color:#EFF2FB;margin:3;float:left}
p{font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;font-size:1.1em}
pre{font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;font-size:1.0em}
h1{font-family:"Arial",serif}
h2{font-family:"Arial"}
h3{font-family:"Arial"}
.code{background-color:#E0F8F7}
.dataset{background-color:#F2F2F2}
.codeware{background-color:#F2F2F2}

